fastapi
pydantic
uvicorn
asyncpg
pydantic-settings
psycopg2-binary
fsspec
polygon
polygon-api-client
cachetools
langchain
langchain_openai
langchain_community
langchain_weaviate
huggingface_hub
redis
weaviate-client
python-multipart
tiktoken 
pypdf 
python-dotenv
openai
langserve
langchain_openai
websockets
pymongo
motor
pydantic[email]
passlib
pyjwt
pytz
celery